@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(180deg, rgb(0, 91, 187) 40%, rgb(255, 213, 0) 41%);
  overflow: hidden!important;
  height: 100vh;
}

body.modal-open .main {
  -webkit-filter: blur(5px) grayscale(50%);
  filter: blur(5px) grayscale(50%);
}

.video-background {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

@media screen and (min-width: 991px) {
  .video-background {
    display: block;
  }
}

.video-background video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: none;
}

@media screen and (min-width: 991px) {
  .video-background video {
    display: block;
  }
}

.image-container {
  top: 0 !important;
}

.img-background-mobile {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: none;
}

.img-background-mobile {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   height: 100vh;
   display: none;
 }

@media screen and (min-width: 991px) {
  .img-background-mobile {
    display: none;
    overflow: hidden;
  }
}

@media screen and (min-width: 991px) {
  .img-background-mobile {
    display: none;
    overflow: hidden;
  }
}

@media screen and (max-width: 991px) {
  .main {
    background: none;
  }
}

@media screen and (max-width: 991px) {
  .image-container img {
    object-fit: contain;
  }
}

.cloud {
  max-width: 100%;
  overflow: hidden;
}

ul.cloud {
  list-style: none;
  padding-left: 0;
  line-height: 2.5rem;
  width: 100%;
  height: 100vh;
}

ul.cloud li {
  display: block;
  font-size: 1.5rem;
  padding: 0.125rem 0.25rem;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  cursor: default;
}

.tagcloud .tagcloud--item span {
  --size: attr(data-weight number, 2);
  font-size: calc(var(--size) * 1rem);
}

.tagcloud .tagcloud--item span[data-weight="1"] {
  --size: 1;
}

.tagcloud .tagcloud--item span[data-weight="2"] {
  --size: 2;
}

.tagcloud .tagcloud--item span[data-weight="3"] {
  --size: 3;
}

.tagcloud .tagcloud--item span[data-weight="4"] {
  --size: 4;
}

.tagcloud .tagcloud--item span[data-weight="5"] {
  --size: 5;
}

.tagcloud .tagcloud--item span[data-weight="6"] {
  --size: 6;
}

.tagcloud .tagcloud--item span[data-weight="7"] {
  --size: 7;
}

.tagcloud .tagcloud--item span[data-weight="8"] {
  --size: 8;
}

.tagcloud .tagcloud--item span[data-weight="9"] {
  --size: 9;
}

.tagcloud .tagcloud--item span {
  --size: 2;
  font-size: calc(var(--size) * 0.15rem);
}

@media screen and (min-width: 991px) {
  .tagcloud .tagcloud--item span {
    --size: 5;
    font-size: calc(var(--size) * 0.25rem);
  }
}

ul.cloud[data-show-value] li::after {
  content: " (" attr(data-weight) ")";
  font-size: 1rem;
}

.header, .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 100%;
}

.header {
  top: 0;
  z-index: 100;
}

.add-btn {
  top: 20px;
  right: 30px !important;
}

.tagcloud {
  margin: auto;
  height: 100vh!important;
}

.tagcloud--item {
  color: white;
  cursor: pointer;
}

.tagcloud--item span {
  display: block;
}

.info-modal {
  z-index: 200;
}

#Ukraine {
  height: 100vh;
}

#KyivCity {
  fill: #3184EA;
  opacity: 0;
}

.mapBackground {
  fill: rgba(116, 178, 255, 0.68);
  stroke: #000;
  stroke-width: 0.5;
}

#Ukraine path:hover {
  fill: #ffff00;
}

.pointerCircle {
  r: 2px;
  fill: #f00;
  stroke-linecap: square;
  stroke-linejoin: bevel;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
}

.cityName {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 0.7em;
  fill: #000;
  text-shadow: white 1px 1px 0, white -1px -1px 0,
  white -1px 1px 0, white 1px -1px;
}


#Kiev:hover ~.cityKiev,
#KyivCity:hover ~.cityKiev,
#SevastopolCity:hover ~.citySevastopol,
#Crimea:hover ~.citySimferopol,
#Cherkasy:hover ~.cityCherkasy,
#Chernivtsi:hover ~.cityChernivtsi,
#Dnipropetrovsk:hover ~.cityDnipro,
#Donetsk:hover ~.cityDonetsk,
#Ivano-Frankivsk:hover ~.cityIvano-Frankivsk,
#Kharkiv:hover ~.cityKharkiv,
#Kherson:hover ~.cityKherson,
#Khmelnytskyi:hover ~.cityKhmelnytskyi,
#Kirovohrad:hover ~.cityKropyvnytskyi,
#Luhansk:hover ~.cityLuhansk,
#Lviv:hover ~.cityLviv,
#Mykolaiv:hover ~.cityMykolaiv,
#Odessa:hover ~.cityOdessa,
#Poltava:hover ~.cityPoltava,
#Rivne:hover ~.cityRivne,
#Sumu:hover ~.citySumu,
#Chernihiv:hover ~.cityChernihiv,
#Ternopil:hover ~.cityTernopil,
#Zakarpattia:hover ~.cityUzhhorod,
#Vinnytsia:hover ~.cityVinnytsia,
#Volyn:hover ~.cityLutsk,
#Zaporizhia:hover ~.cityZaporizhia,
#Zhytomyr:hover ~.cityZhytomyr{

  visibility: visible;
  opacity: 1;
}


